<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redimybase.manager.logger.mapper.SysLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.redimybase.manager.logger.mapper.SysLogMapper">
		<result column="ID" property="id" />
		<result column="USER_NAME" property="userName" />
		<result column="OPERATION" property="operation" />
		<result column="METHOD" property="method" />
		<result column="PARAMS" property="params" />
		<result column="IP" property="ip" />
		<result column="CREATE_TIME" property="createTime" />
	</resultMap>
    <select id="selectLogList" resultType="com.redimybase.manager.logger.entity.SysLogEntity">
		select METHOD,OPERATION,TYPE from sys_log order by CREATE_TIME DESC limit 0,19
	</select>
	<select id="countByCreateTime" resultType="com.redimybase.manager.logger.dto.SysLogCountDTO" parameterType="string" useCache="false">
		 select  to_char(create_time, 'HH24h' ) as timeSlot,  count(id)  as  count from  sys_log
  where
  <if test="type!=null">
	  type=#{type,jdbcType=VARCHAR} and
  </if>
  create_time  between  CURRENT_DATE  and  CURRENT_TIMESTAMP  group by timeSlot  order  by timeSlot
	</select>

</mapper>
