<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aispread.manager.security.mapper.RoleMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <select id="getRoleNameList" resultType="java.lang.String" parameterType="string" useCache="false">
        select distinct r.name from t_role r join t_user_role ur on ur.role_id=r.id and ur.user_id=#{userId,jdbcType=VARCHAR}
    </select>

</mapper>
